
<!-- LINE INFORMATION, HIDDEN FROM START IF USER IS HOST -->
<div class="tab-content <%= current_user.id == @line.user.id ? "hidden" : "" %>" id="line_info">
  <div class="col-xs-12 col-md-6 col-md-offset-3">

    <%# @lines.photos.each do |photo| %>
      <%#= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
    <%# end %>

    <% unless @line.organization_name.nil? %>
      <p>Organization: <%= @line.organization_name %></p>
    <% else %>
      <% user = User.find(@line.user_id) %>
      <p>Host: <%= @user.first_name + " " + @user.last_name %></p>
    <% end %>
    <p>Location: <%= @line.location %></p>
    <p>Start time: <%= @line.start_time %></p>
    <% unless @line.end_time.nil? %>
      <p>End time: <%= @line.end_time %></p>
    <% end %>
    <p>Average service time: <%= @line.avg_service_time %></p>
  </div>
</div>
