
<!-- Banner with uploaded line photo -->
<% if @line.photo? %>
  <div class="line-banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.7) 50%), url('<%= cl_image_path @line.photo, crop: :fill %>');">
<% else %>
  <div class="line-banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.7) 50%), url(<%= image_url('airport-line-3.png') %>);">
<% end %>
  <!-- Transparent navbar on top of banner background image -->
  <%= render partial: 'shared/navbar' %>
  <div class="line-banner-content">
    <h1 class="hidden-xs"><%= @line.title %></h1>
    <h2 class="visible-xs"><%= @line.title %></h2>
    <!-- Estimated time left of line -->
    <% unless @line.appointments.empty? %>
      <h2 class="hidden-xs">About <%= est_time_left(@line)%>h left</h2>
      <h3 class="visible-xs">About <%= est_time_left(@line)%>h left</h3>
    <% else %>
      <h2 class="hidden-xs">This line is currently empty.</h2>
      <h3 class="visible-xs">This line is currently empty.</h3>
    <% end %>
    <!-- "Get in line" or "drop out of line" button, depending on current user -->
    <div style="margin-top: 30px;"> <%= render partial: 'line_buttons' %> </div>
  </div>

  <!-- Tab panel with links to sub pages -->
  <div class="visible-xs">
    <div class="tabs">
      <%= render partial: "tab_buttons" %>
    </div>
  </div>

  <div class="hidden-xs">
    <div class="tabs tab-buttons-big">
      <%= render partial: "tab_buttons" %>
    </div>
  </div>


</div>
