
<div class="tab-content hidden" id="line_settings">
  <div class="col-xs-12">
    <div class="row">
      <h2 class="text-center">Edit your line</h2>
    </div>
    <div class="row">
      <div class='col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 line-settings-wrapper'>
        <div class="line-settings-form">
          <%= simple_form_for @line do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs line-form">
              <%= f.input :title, required: true, autofocus: true %>
              <%= f.input :location, required: true, autofocus: true %>
              <%= f.input :start_time, as: :string, required: true, autofocus: true, input_html: {id: "datetimepicker1", value: @line.start_time.to_time.strftime("%m/%d/%Y %H:%M %p") } %>
              <%= f.input :end_time, as: :string, required: true, autofocus: true, input_html: {id: "datetimepicker2", value: @line.end_time.to_time.strftime("%m/%d/%Y %H:%M %p") } %>
              <%= f.input :avg_service_time, required: true, autofocus: true %>
              <%= f.input :organization_name, required: false, autofocus: true %>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Edit line", class: "btn my-btn btn-block"  %>
            </div>

            <%= link_to "Remove line", line_path(@line), method: :delete, class: "btn btn-red btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
