
<!-- LISTING THE ADMINS, NO CONDITIONS -->
<div class="tab-content <%= current_user.id != @line.user.id ? "hidden" : "" %>" id="line_admins">
  <div class="col-xs-12 col-md-6 admin-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <h2><%= pluralize @admins.count, "current line admin" %></h2>
      </div>
    </div>
    <% unless @admins.empty? %>
      <div class="admin-list">
        <% @admins.each_with_index do |admin, index| %>
          <% user = User.find(admin.user_id) %>
          <div class="admin-list-item">
            <% avatar_url = user.facebook_picture_url || "https://timeforgeography.co.uk/static/img/avatar-placeholder.png" %>
            <%= image_tag avatar_url, class: "admin-list-avatar" %>
            <div class='admin-list-body'>
              <h4><%= admin.user.first_name + " " + admin.user.last_name %></h4>
            </div>
            <ul class="list-inline admin-list-controls">
              <!-- IF CURRENT USER IS THE HOST, SHE CAN REMOVE A USER FROM THE ADMIN LIST -->
              <% if current_user.id == @line.user_id %>
                <li><%= link_to "", administrator_path(admin), method: :delete, class: "fa fa-close", title: "Remove admin" %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% else %>
      <h4>You have not added any admins to this line yet.</h4>
    <% end %>
  </div>

  <!-- USER SEARCH BAR FOR ADDING ADMINS, ONLY VISIBLE TO EVENT'S HOST -->
  <div class="col-xs-12 col-md-6 admin-wrapper">
    <h2>Add admins</h2>
    <%= form_tag(line_path(@line.id), method: 'get',  class: 'user-search' ) do  %>
      <%= text_field_tag :search_value, params[:search_value], placeholder: 'Search users' , class: "user-search-input" %>
      <button type="submit" class="navbar-wagon-search-btn search-click" data-target="#line_admins_list">
        <i class="fa fa-search"></i>
      </button>
    <% end %>

    <!-- USER SEARCH RESULTS FOR ADDING ADMINS, ONLY VISIBLE TO LINE'S HOST -->
    <div id="line_admins_list">
      <% if params[:search_value] != nil && params[:search_value] != "" %>
        <div class="admin-list">
          <% @results.each do |user| %>
            <div class="admin-list-item">
              <% avatar_url = user.facebook_picture_url || "https://timeforgeography.co.uk/static/img/avatar-placeholder.png" %>
              <%= image_tag avatar_url, class: "admin-list-avatar" %>
              <div class='admin-list-body'>
                <h4><%= user.first_name + " " + user.last_name %></h4>
              </div>
              <ul class="list-inline admin-list-controls">
                <!-- THE LINE HOST CAN MAKE A USER FROM THE SEARCH RESULTS LIST AN ADMIN -->
                <% @user_id = user.id %>
                <% @line_id = @line.id %>
                <li><%= link_to "", line_make_admin_path(@line_id, @user_id), method: :get, class: "fa fa-user-plus", title: "Make admin" %></li>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>

