
<!-- ESTIMATING TIME LEFT OF LINE -->

<!-- CALLING JS INITIALIZECLOCK METHOD AND PASSING THE DEADLINE TO IT  -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {

      <!-- TURN LINE AND APPOINTMENTS INTO JSON STRINGS, SINCE JS CAN'T HANDLE RUBY OBJECTS -->
      <% line = @line.to_json %>
      <% line = JSON.parse(line) %>
      <% appointments = @line.appointments.order("created_at ASC").to_json %>
      <% appointments = JSON.parse(appointments) %>

      <!-- IF THE LINE IS NOT EMPTY, CALCULATE END_TIME AND SEND TO JS METHODS -->
      if (<%= appointments.count != 0 %>) {
        <% est_time_left = est_time_left(@line) %>
        <% end_time = Time.now + est_time_left %>
        var deadline = new Date(<%= end_time.to_f * 1000 %>);
        initializeClock('clockdiv', deadline);

      } else {
        $("#empty-line").removeClass("hidden");
      }

      <!-- NOT DRY CODE, FIX!!  -->
      <!-- IF A USER IS REMOVED, DROPS OUT OR JOINS THE LINE WE UPDATE THE TIMER -->
      $(".line-update").on("click", function(e){
        <% line = @line.to_json %>
        <% line = JSON.parse(line) %>
        <% appointments = @line.appointments.order("created_at ASC").to_json %>
        <% appointments = JSON.parse(appointments) %>

        if (<%= appointments.count != 0 %>) {
          <% est_time_left = est_time_left(@line) %>
          <% end_time = Time.now + est_time_left %>
          var deadline = new Date(<%= end_time.to_f * 1000 %>);
          initializeClock('clockdiv', deadline);

        } else {
          $("#empty-line").removeClass("hidden");
        }
      });

    });
  <% end %>
<% end %>

<!-- CLOCK TIMER OUTPUT FOR JS INITIALIZECLOCK METHOD -->
<div id="clockdiv">
  <h2 class="hours"></h2>
</div>

<div class="hidden" id="empty-line">
  <h2>This line is currently empty.</h2>
</div>



