
<%= render partial: 'line_banner' %>

<!-- TAB CONTENT RENDERING FROM PARTIALS -->
<div class="container" style="width: 100%; min-height: 300px; margin: 0; padding: 0;">
  <div class="row text-center" style="width: 100%; margin: 0; padding: 0;">
    <%= render partial: 'line_info' %>
    <%= render partial: 'current_line' %>
    <%= render partial: 'line_admins' %>
    <%= render partial: 'line_settings' %>
    <%= render partial: 'line_directions' %>
  </div>
</div>
