<div class="banner">
  <div class="banner-content-wrapper">
    <div>
      <%= image_tag "inline-logo-white.svg", class: "banner-logo" %>
    </div>
    <h1>Never wait in line again</h1>
    <!-- LINE SEARCH BAR -->
    <div class="search events">
      <%= form_tag('/lines', method: 'get',  class: 'home-search' ) do  %>
        <%= text_field_tag :search_value, params[:search_value], placeholder: 'Find your line' , class: "home-search-input" %>
        <%= submit_tag 'Search', class: 'btn my-btn home-search-btn' %>
      <% end %>
    </div>
  </div>
  <div class="banner-bottom">
    <%= link_to 'Sign in / Sign up', new_user_session_path %>
  </div>
</div>
